body{
    background-image: url(desktop-wallpaper-minimalistic-multicolor-gaussian-blur-simple-backgrounds-white-backgrounds-white-blur.jpg);
   background-size: cover;
   background-repeat: no-repeat;
    max-height: 80% !important;
}
