body{
    background-image: url(desktop-wallpaper-minimalistic-multicolor-gaussian-blur-simple-backgrounds-white-backgrounds-white-blur.jpg);
    background-size: cover;
    max-height: 100vh;
}
.main{
    max-height: 60%;
}